.divNav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    height: 60px;
    border-bottom: 3px solid rgb(51, 30, 11);
}

.bg-body-tertiary {
    background: linear-gradient(to right, rgb(131, 88, 56), rgb(151, 108, 76)) !important;
}

.navbar-brand {
    color: rgb(51, 30, 11) !important;
}

.nav-link {
    color: rgb(51, 30, 11) !important;
}