.animeList {
    background: linear-gradient(to top, white, rgb(131, 88, 56), white);
}

.cardlist {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 100px 100px 50px 100px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 20px;
}

.row {
    column-count: 4;
}

.col {
    padding: 0px;
    margin-top: 50px;
}

.card {
    width: 80%;
    height: 300px;
    
}

.paginationDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.paginationDiv .page-link {
    color: rgb(51, 30, 11);
    border-color: rgb(51, 30, 11);
    background-color: rgb(187, 127, 81);
}

.paginationDiv .page-item.active .page-link {
    color: rgb(187, 127, 81);
    background-color: rgb(51, 30, 11);
    border-color: rgb(51, 30, 11);
}

.paginationDiv .page-item.disabled .page-link {
    color: rgba(51, 30, 11, 0.5);
    background-color: rgb(207, 147, 101);
}