.containerAnime {
    height: calc(100vh - 60px);
    margin: 60px 0px 0px 0px 
}

.imgCol {
    margin-top: 0px;
}

.infoCol {
    margin-top: 0px;
}

.cardBody {
    height: calc(100vh - 60px);
}

.imgUnica {
    height: calc(100vh - 60px);
    border-radius: 10px;
}
